
iframe {
 position: relative;
  width: 80%;
  padding-bottom: 45%; /* This creates a 16:9 aspect ratio (9 / 16 = 0.5625) */
  height: 0;
  margin: auto;
  display: block;
  overflow: hidden;
  border: 0.5rem ridge red;
}

body {
background-color: hsl(52 93.2% 80.5%);
color: red;

}
a:link, a:visited{
  color: red;
}
a:hover{
  color: blue;
}