.bungee-shade-regular {
  font-family: "Bungee Shade", sans-serif;
  font-weight: 400;
  font-style: normal;
}

h2{
    text-align: center;
    font-family: "Bungee Shade", sans-serif;
    font-size: 50px;
}
h5{
    text-align: center;
    font-family: "Work Sans", sans-serif;
}

body{
    background-color: hsl(130, 58%, 35%);
    color: hsl(0, 0%, 100%);

    animation: colorChange 4s infinite alternate; /* Animation properties */
}

@keyframes colorChange {
  from {
    background-color: hsl(130, 58%, 35%); /* Red at the start */
  }
  to {
    background-color: whitesmoke; /* Green in the middle */
  }
}