
a:link,
a:visited{
  color: yellow;
}

h3{
    display: inline;
}

body {
  background: hsl(25, 98%, 53%);
  color: hsl(5, 86%, 48%);
  font-family: "Arial", sans-serif;
  font-size: 18px;
  /* letter-spacing: 0.02em;
  line-height: 2em; */
}


img{
    width: 200px;
}

.wavy-underline { text-decoration: underline wavy yellow; }
.lil-note {font-size: smaller;
          color: hsl(5, 86%, 35%);}
